<a href="https://colab.research.google.com/github/Sandhya1643/Automatic-calling-bell/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print("Labels:",labels)
print("MY data:", my_data)
print("Dictionary:",d)
print("array:", arr)

Labels: ['a', 'b', 'c']
MY data: [10, 20, 30]
Dictionary: {'a': 10, 'b': 20, 'c': 30}
array: [10 20 30]

Creating a series (pandas class)
*   from numerical data only
*   from numerical data corresponding index
*  from numpy array as the source of numerical data
*   just using a pre defined dictionary

In [4]:
pd.Series(data=my_data)  #Output looks very similar to a numpy array

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(d)  #using a pre defined dictionary object

a    10
b    20
c    30
dtype: int64

# **WHAT TYPE OF VALUES CAN A PANDAS SERIES HOLD**?

In [8]:
print("\nHolding numerical data\n",'-'*25, sep='')
print(pd.Series(arr))
print("\nHolding text labels\n",'-'*20,sep='')
print(pd.Series(labels))
print("\nHolding functions\n",'-'*20, sep='')
print(pd.Series(data=[sum,print,len]))
print("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series(data=[d.keys, d.items, d.values]))

Holding numerical data
-------------------------
0    10
1    20
2    30
dtype: int64

Holding text labels
--------------------
0    a
1    b
2    c
dtype: object

Holding functions
--------------------
0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

Holding objects from a dictionary
----------------------------------------
0    <built-in method keys of dict object at 0x7e2b...
1    <built-in method items of dict object at 0x7e2...
2    <built-in method values of dict object at 0x7e...
dtype: object

INDEXING AND SLICING

In [9]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser2 = pd.Series([1,2,5,4],['CA','OR','NV','AZ'])

print("\nIndexing by name of the item/object (string identifier)\n",'-'*56, sep='')
print("Value for CA in ser1:",ser1['CA'])
print("Value for AZ in ser1:",ser1['AZ'])
print("Value for NV in ser2:",ser2['NV'])

print("\nIndexing by number (positional value in the series)\n",'-'*52,sep='')
print("Value for CA in ser1:",ser1[0])
print("Value for AZ in ser1:",ser1[3])
print("Value for NV in ser2:",ser2[2])

print("\nIndexing by a range\n",'-'*25,sep='')
print("value for OR, CO, and AZ in ser1:\n", ser1[1:4], sep='')

Indexing by name of the item/object (string identifier)
--------------------------------------------------------
Value for CA in ser1: 1
Value for AZ in ser1: 4
Value for NV in ser2: 5

Indexing by number (positional value in the series)
----------------------------------------------------
Value for CA in ser1: 1
Value for AZ in ser1: 4
Value for NV in ser2: 5

Indexing by a range
-------------------------
value for OR, CO, and AZ in ser1:
OR    2
CO    3
AZ    4
dtype: int64

<ipython-input-9-079a985874e4>:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for CA in ser1:",ser1[0])
<ipython-input-9-079a985874e4>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for AZ in ser1:",ser1[3])
<ipython-input-9-079a985874e4>:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Value for NV in ser2:",ser2[2])