<a href="https://colab.research.google.com/github/Sandhya1643/Automatic-calling-bell/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print("Labels:",labels)
print("MY data:", my_data)
print("Dictionary:",d)
print("array:", arr)

Labels: ['a', 'b', 'c']
MY data: [10, 20, 30]
Dictionary: {'a': 10, 'b': 20, 'c': 30}
array: [10 20 30]

Creating a series (pandas class)
*   from numerical data only
*   from numerical data corresponding index
*  from numpy array as the source of numerical data
*   just using a pre defined dictionary

In [6]:
pd.Series(data=my_data)  #Output looks very similar to a numpy array

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)  #using a pre defined dictionary object

a    10
b    20
c    30
dtype: int64

# **WHAT TYPE OF VALUES CAN A PANDAS SERIES HOLD**?